
$Orange: hsl(26, 100%, 55%);
$PaleOrange: hsl(25, 100%, 94%);

$LightGrayishBlue: hsl(223, 64%, 98%);


@mixin box {
  width: 50px;
  background-color: $LightGrayishBlue;
}

main {
  font-family: 'Kumbh Sans';
  width: 75%;
  margin-inline: auto;
  font-size: 16px;
  color: hsl(220, 14%, 75%);
}

// navBar
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  height: 120px;
}

.menu {
  display: none;
}

.logo-container {
  flex-basis: 30%;
}

.cart-avatar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  flex-basis: 10%;
}

.cart-avatar > img {
  cursor: pointer;
}

.cart-avatar > span {
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 13px;
  padding: 0 8px;
  background-color: $Orange;
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

.avatar-icon:hover {
  border: 2px solid $Orange;
  border-radius: 100%;
}

.cart-icon:hover {
  filter: brightness(0%);
}

nav {
  flex-basis: 65%;
  align-self: center;
}

.webMenu {
  display: flex;
  gap: 20px;
}

li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: hsl(219, 9%, 45%);
  width: 63px;
  height: 120px;
}

li:hover {
  border-bottom: 5px solid $Orange;
  padding-top: 5px;
  cursor: pointer;
}

.cartItems {
  position: absolute;
  left: -215px;
  bottom: -250px;
  width: 24rem;
  height: 15rem;
  background-color: white;
  box-shadow: 0px 10px 15px hsla(0, 0%, 0%, 0.2);
  border-radius: 10px;
}

.cartItems > h3 {
  font-weight: 700;
  padding: 20px 10px;
  font-size: 15px;
  font-weight: 700;
  color: black;
  border-bottom: 1px solid hsl(220 71% 22%);
}

.cartItems > .btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartItems button  {
  width: 80%;
  height: 60px;
  color: white;
  background-color: $Orange;
  border-radius: 10px;
}

.cart-item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 20px;
}

.cart-item-description > p {
  margin: 0;
}

.deleteBtn {
  cursor: pointer;
}


// main section

section.product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.product-description {
  width: 80%;
  margin-inline: auto;
  padding: 12rem 0;
}

// image container
.product-images {
  width: 75%;
  height: auto;
  margin-inline: auto;
  margin-top: 5rem;
}

.mainImg {
  width: 100%;
  height: 65%;
  border-radius: 20px;
  object-fit: cover;  
  object-position: 0% 0%;
}

.image-gallery {
  display: flex;
  width: 100%;
  margin-top: 25px;
  gap: 27px;
}

.previousPic, .nextPic {
  display: none;
}

.image-gallery > img {
  width: 20%;
  border-radius: 20px;
  transition: opacity 0.5s;
}

.indication {
  border: 2px solid hsl(26, 100%, 55%);
  opacity: 50%;
}

.image-gallery > img:hover {
  cursor: pointer;
  opacity: 50%;
}


// product description
h2 {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
}

h1 {
  color: hsl(0, 0%, 0%);
  font-size: 35px;
  font-weight: 700;
}

.saving-price {
  margin-top: 5px;
  margin-bottom: 40px;
  text-decoration: line-through
}

.quantity-cart {
  display: flex;
  height: 15%;
  justify-content: space-between;
}

.description {
  color: hsl(219, 9%, 45%);
}

.quantity {
  display: flex;
}

.plus {
  @include box();
  border-radius: 0 15px 15px 0;
}

.amount {
  display: flex;
  @include box();
  margin: 0;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.minus {
  @include box();
  border-radius: 15px 0 0 15px;
}

.sale {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  padding-inline: 10px;
  border-radius: 5px;
  font-size: 15px;
}

.price-container {
  display: flex;
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
  color: hsl(0, 0%, 0%);
}

.price-container > p {
  margin-bottom: 0;
  font-weight: 700;
}

.add-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 60%;
  background-color: $Orange;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  font-size: 22px;
}

.add-cart:hover {
  background-color: hsl(25, 100%, 94%);
}

// footer
footer {
  width: auto;
  margin-inline: auto;
}

@media screen and (max-width: 800px) {
  main {
    margin: 0;
    width: 100vw;
  }

  .webMenu {
    display: none;
  }

  .mobile-container {
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: hsla(0, 0%, 0%, 0.7);
    width: 100vw;
    height: 100vh;
  }

  .mobileMenu {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 70vw;
    left: 0px;
    top: 0px;
    background-color: white;
    padding-left: 15px;
    padding-top: 20px;
    font-weight: 700;
  }

  li {
    display: block;
    color: black;
    height: 50px;
  }

  li:hover {
    border-bottom: none;
  }

  header {
    display: flex;
    padding-inline: 20px;
    border: none;
    height: 70px;
  }

  .cartItems {
    z-index: 1;
    position: absolute;
    width: 22rem;
    left: -285px;
    top: 55px;
  }

  .logoContainer {
    display: flex;
    gap: 10px;
  }

  .cart-avatar {
    display: flex;
    gap: 10px;
    position: relative;
  }

  .avatar-icon {
    width: 25px;
    height: 25px;
  }

  .menu {
    display: inline;
  }

  section.product-container {
    display: flex;
    flex-direction: column;
  }

  .image-gallery {
    display: none;
  }

  .product-images {
    margin: 0;
    width: 100%;
    height: 34vh;
    position: relative;
  }

  .nextPic {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    top: 45%;
    left: 25px;
    background-color: white;
  }

  .previousPic {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    right: 25px;
    top: 45%;
  }

  .mainImg {
    border-radius: 0;
    object-fit: cover;
    height: 100%;
    object-position: 0px -37px;
  }

  .product-description {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .price-container {
    margin-bottom: 20px;
  }

  .quantity-cart {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .saving-amount {
    flex-basis: 50%;
    text-align: right;
    text-decoration: line-through;
    font-size: 16px;
    color: hsl(219, 9%, 45%);
  }

  .saving-price {
    display: none;
  }

  .plus, .minus, .amount {
    flex-basis: 33%;
    padding-block: 20px;
  }

  .amount {
    color: black;
  }

  h1 {
    font-size: 30px;
  }

  .add-cart {
    width: 100%;
  }
}